* {
    margin:0;
    padding:0;
    box-align: border-box;
}

.header {
    background-color:gray;
    display:flex;
    height:10vh;
    padding: 0 10vw 0 10vw;
    align-items:center;
    justify-content: space-between;
}
.menu{
    text-align:center;
    border:1px solid white;
    color:white;
    padding:16px;
}

.main{
    display:flex;
    height:80vh;
    width:80vw;
    margin:auto;
    align-items: center;
    justify-content: space-between;
}
.article{
    background-color:lightgray;
    width: 20vw;
    height:60vh;
    display:flex;
    flex-direction: column;
}
.article-title{
    height:10vh;
    background-color:gray;
}
.footer{
    background-color:black;
    padding: 0 10vw 0 10vw;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer-item{
    color:white;
    border: 1px solid white;
    padding:8px;
    width:30vw;
}


