body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-gap: 1px;
    background-color: #eee;
  }

.item{
    background-color: deepskyblue;
    padding:40px;
}
