@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

header{
    padding:2rem;
}
header h2{
    font-weight:300;
}

.timeslot{
    font-size:1.5rem;
    text-align:right;
    margin-right:.6rem;
    color:gray;
}

main{
    display:grid;
    grid-template-columns: 50px 9fr;
    width:100vw;
    padding:1rem;
    gap:1rem;
}

.matches{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.match{
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.match *{
    margin:0;
    padding:0;
}
.match .time, .match .title{
    font-weight:bold;
}
.match .rewatch{
    font-size:.6rem;
    font-weight: bold;
    background:black;
    color:white;
    text-transform: uppercase;
    padding:.2rem;
    margin-top:1rem;
    text-align:center;
    width:50%;
}
article {
    padding: 20px;
    background-color: #eee;
    display: grid;
}

article .content {
    color: white;
    font-weight: 300;
}

h2 {
    font-size: 2em;
}