 /* ------------------------ GRID 05 AREAS ----------------------    */

html,
body {
    background-color: #111;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    display: grid;
    gap: 1rem;
    padding:1rem;
    grid-template-areas:
        "main main main main main main aside aside"
        "center-left center-left center-center center-center center-center center-center center-right center-right"
        "footer footer footer footer footer footer footer footer"
    ;
    height: 100vh;
}

div {
    padding: 10px;
    background-color: white;
}

.main {
    background-color: salmon;
    grid-area: main;
}

.aside {
    background-color: orchid;
    grid-area: aside;
}

.center-left {
    background-color: steelblue;
    grid-area: center-left;
}

.center-center {
    background-color: lightgray;
    grid-area: center-center;
}

.center-right {
    background-color: olive;
    grid-area: center-right;
}
.footer{
    background-color: #4285F4;;
    grid-area: footer;
}