body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
  height:20vh;
}
main{
  height:80vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;     
    grid-template-rows: auto auto auto;
    grid-gap: 1px;
    min-height:100%;
    background-color: #eee;
  }

.item{
    background-color: deepskyblue;
    padding:20px;
}
.item1{
  grid-row-end:span 2;
}
.item9{
  grid-column-end: span 3;
}