/* --------------------------------- GRID 01 --------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

main{
    display:grid;
    gap:.5rem;
    padding:.5rem;

    /* basics inline axis: justify-content*/
    grid-auto-flow:column;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: start;
    justify-content: end;
    justify-content: space-evenly;
    
    /* basics block axis: align-items */
    height:100vh;
    align-items:center;
    align-items:end;
    align-items:start;
}

main section {
    color:white;
    min-width: 100px;
    min-height:100px;
    background:#4285F4;

    /* grid in grid */
    border-radius:50%;
    display:grid;
    place-items: center;
}

